<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="aspnet:MaxHttpCollectionKeys" value="30000"/>
  </appSettings>
  <system.web>
    <httpRuntime maxRequestLength="134217728" maxQueryStringLength="2000000"/>
  </system.web>
  <system.webServer>
    <!-- Removed other configuration -->
    <security>
      <requestFiltering>
        <!-- 128MB = 134,217,728  Bytes -->
        <requestLimits maxAllowedContentLength="134217728" maxQueryString="2000000"/>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>