    html {
        font-size: 14px;
    }

    @media (min-width: 768px) {
        html {
            font-size: 16px;
        }
    }

    .btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
        box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
    }

    html {
        position: relative;
        min-height: 100%;
    }

    body {
        margin-bottom: 60px;

        background-image: url(../img/bg.svg);
        background-color: antiquewhite;
        background-repeat: repeat;
        background-size: 200px;
    }


    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container {
        max-width: 95%;
    }

    * {
        font-family: Calibri;
        font-size: large;
        overflow-wrap: break-word;
        max-width: 100%;
    }

    /* Отключение стрелок Chromium*/
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }

    .table th, .table td, .table tr {
        border-color: rgb(0, 102, 51);
        border-width: 1px;
        text-align: center;
        vertical-align: middle;
        overflow-wrap: break-word;
        min-width: 4em;
        max-width: 500px;
    }

    th {
        background-color: rgb(220, 255, 220) !important;
    }

    .navbar-brand {
        background-color: rgb(0, 102, 51);
        color: white !important;
        font-weight: bold;
        padding: 15px;
        margin: 0;
    }

    #navbar-layout {
        /*background-color: rgb(149, 193, 31) !important;*/
    }

    .navbar, .container-fluid {
        padding: 0;
        align-items: stretch !important;
    }

    .navbar-collapse {
    
        align-items: stretch;
    }

    .nav-item {
        display: flex;
        align-items: center;
        border-top: 5px rgba(0, 0, 0, 0) solid;
        border-bottom: 5px rgba(0, 0, 0, 0) solid;
    }

    .nav-item-current-view {
        border-top: 5px rgba(0, 0, 0, 0) solid;
        border-bottom: 5px rgb(0, 102, 51) solid;
    }

    .navbar-toggler {
        /*display: inline-block !important;*/
    }

    .navbar-settings {
        background-color: rgb(149, 193, 31);
    }

    .navbar-settings * {
        background-color: rgb(149, 193, 31);
        color: white !important;
    }

    /*Ссылки*/
    a, a:hover, a:visited {
        color: rgb(149, 193, 31);
        text-decoration-line: none;
        font-size: inherit;
    }

    input[type=submit], input[type=button] {
        color: white;
        background-color: rgb(0, 102, 51);
        border-radius: 5px;
        box-shadow: 0px 0px 5px lightgray;
        margin: 1px;
    }

    input[type=submit]:hover, input[type=button]:hover {
        background-color: rgb(0, 128, 64);
    }

    input[type=submit]:active, input[type=button]:active {
        background-color: rgb(0, 77, 38);
    }

    .page-content-center {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px;
        background-color: white
        /*background-color:red !important;*/
    }

    /*Аутентификация*/
    .page-content-auth {
        border-radius: 10px;
        border: 1px lightgray solid;
        box-shadow: 0px 0px 20px lightgray;
    }

    .page-content-auth form, .page-content-auth form input {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .page-content-auth input/*[type=submit]*/ {
        min-width: 250px;
        width: 100%;
    }


    .page-content-auth input[type=submit] {
        /*width: 50% !important;*/
        min-width: 100px;
        margin: 15px 0px 15px 0px;
    }

/*    .page-content-auth label {
        vertical-align: bottom;
    }*/


    /*Предупреждения*/
    .warning {
        color: red;
    }


    .checkbox-div {
        display: flex;
        flex-direction: row;
    }

    .checkbox-div input {
        min-width: min-content;
        margin: 5px;
        width: min-content;
    }

    footer {
        background-color: white;
    }

    .page-content-display {
        border-radius: 10px;
        border: 1px lightgray solid;
        box-shadow: 0px 0px 20px lightgray;
        align-items:stretch;

        min-width: 50%;
    }

    td input {
        width: 100%;

        min-width: 3.5em !important;
    }

    .forestry-items {
        display: flex;
        flex-direction:column;
        width: 100%;
    }

    .forestry-items a {
        color: black;
        background-color: rgb(241, 255, 241);
        padding: 10px;
        border: 1px rgb(0, 102, 51) solid;
    }

    .forestry-items a:hover {
        background-color: rgb(220, 255, 220);
    }

    .table-item-highlighted {
        background-color: rgb(240, 255, 240) !important;
    }

    .table-item-warning {
        background-color: rgb(255, 255, 155) !important;
    }

    .table-item-error {
        background-color: rgb(255, 155, 155) !important;
    }
