@{
    var title = "Справочная информация";
    ViewData["Title"] = "title";
}

<h2>@title</h2>
<a asp-action="GrowthRateDirectory">Таблица хода роста</a>
<br />
<a asp-action="ProductOutputDirectory">Товарная таблица</a>
<br />
<a asp-action="TreeSpeciesDirectory">Породы деревьев</a>
<br />