@{
    ViewData["Title"] = "Справочная информация";
}

<div class="page-content-center page-content-display">
    <h1>@ViewData["Title"]</h1>
    <div class="forestry-items">
        <a asp-action="GrowthRateDirectory">Таблица хода роста</a>
        <a asp-action="ProductOutputDirectory">Товарная таблица</a>
        <a asp-action="TreeSpeciesDirectory">Породы деревьев</a>
    </div>
</div>