@{
    ViewData["Title"] = Model.Item1.Name;
}
@model Tuple<ForestryWeb.Models.Database.Tables.Forestry, ForestryWeb.Models.Database.Tables.User>

<h2>@Model.Item1.Name</h2>

<a asp-action="forestryareas" asp-route-id=@Model.Item1.ForestryID>Распределение общей площади по категориям земель</a>
<br/>
<a asp-action="forestrytreegroups" asp-route-id=@Model.Item1.ForestryID>Распределение лесной площади и запасов по бонитетам и классам возраста</a>
<br/>
<a asp-action="forestrytreespecies" asp-route-id=@Model.Item1.ForestryID>Основные показатели по лесному фонду</a>
<br/>
<a asp-action="forestrysectiongroups" asp-route-id=@Model.Item1.ForestryID>Распределение площадей насаждений хозсекций по классам возраста</a>
<br/>
<a asp-action="forestrysections" asp-route-id=@Model.Item1.ForestryID>Схема организации лесного хозяйства</a>
<br/>
<a asp-action="avgsectiongrowthcalc" asp-route-id=@Model.Item1.ForestryID>Расчет среднего прироста сортиментов для определения технической спелости</a>
<br/>
<a asp-action="forestryfellingsections" asp-route-id=@Model.Item1.ForestryID>Распределение площадей и запасов по классам возраста</a>
<br />
<a asp-action="forestryfellingperiods" asp-route-id=@Model.Item1.ForestryID>Срок использования эксплуатационного фонда</a>