@{

    ViewData["Title"] = "Главная страница";
}
<div class="page-content-center page-content-display">
    <h1>@ViewData["Title"]</h1>
    <div class="forestry-items">
        <a asp-action="Forestries">Список лесничеств.</a>
        <a asp-action="Directories">Справочная информация.</a>
        <a asp-action="Privacy">Информация.</a>
        <a asp-action="EditUser">Настройки пользователя.</a>
    </div>
</div>