@{
    ViewData["Title"] = "Информация";
}
<div class="page-content-center page-content-display">
    <h1>@ViewData["Title"]</h1>
    <div>
        Проект ВКР "Разработка Web-приложения с использованием фреймворка MVC ASP .NET".
        <br />
        Подготовил студент группы зЛПб-ИСиТ-18-2 Совков В. В.
    </div>
</div>